version: "3.5"

services:
  postgres:
    image: idzyzenko/postresql-nextval_with_xact_lock:18
    container_name: pg_eventstore-postgres-main
    ports:
      - 5532:5432
    environment:
      - POSTGRES_PASSWORD=postgres
    command: ["postgres", "-c", "log_statement=all", "-c", "max_connections=300"]
    volumes:
      - "./db/postgresql/data:/var/lib/postgresql/18/data"
  redis:
    image: redis:6
    ports:
      - 6579:6379
